body {
    background-color: #FEC600;
}

.BikeForm {
    margin-top: 4em;
}

.BikeForm h1 {
    font-family: 'Roboto', sans-serif;
    color: #FE7000;
}

input {
    height: 3em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.BikeForm .btn {
    height: 3em;
    background-color: #FE7000;
    color: white;
    margin-left: -1.8em;
}

Label {
    font-size: 1.2em;
}
