.bi-btn {
	background-color: orange;
	border-radius: 100%;
}

.ruta {
	text-align: center;
	background-color: orange;
}

.ruta-btn {
	background-color: orange;
	color: black;
	border-radius: 0.5em;
	border: none;
	padding: 0.5em;
	font-weight: bolder;
	cursor: pointer;
	margin: 0.5em;
}

input {
	border-radius: 0.5em;
	border: 1px solid orange;
	padding: 0.5em;
}

.text {
	margin: 0;
	text-align: left;
	font-weight: bolder;
	font-size: 15px;
}

.favoritos {
	width: 100%;
	height: 90vh;
	background-color: white;
}

.favoritos h2 {
	margin: 0;
}