body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.map-container {
  position: relative;
}

.bar-icons {
  position: absolute;
  display: flex;
}

.tab-icon {
  display: flex;
  background: orange;
  align-items: flex-end;
}

.bar-icons ul {
  list-style: none;
  font-size: 3em;
  margin-right: 1em;
  color: white;
  width: 100%;
  margin-left: -0.2em;
}

.bar-icons ul li{
  margin-right: 1em;

}

.info-icons ul{
  list-style: none;
  font-size: 2em;
}

.info-icons ul li {
  border-radius: 100%;
  background-color: orange;
  margin-bottom: 0.5em;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.map-container {
  height: 100vh;
}